.marketing {
  display: flex;
  width: 1200px;
  margin: 20px auto 20px 210px;
  font-size: 18px;
  background-color: #faf9f9;
  line-height: 35px;
  color: #333;
  .icon {
    font-size: 35px;
    color: #f27a1a;
    margin: 2 10px;
    margin-top: 1px;
  }
}

.container {
  margin: 20px auto;
  background-color: #faf9f9;
  height: 783;
  padding: 20px;
  .product-container {
    margin: 20px auto;

    height: 783;
    padding: 20px;
    border: 1px solid#e6e6e6;
    border-radius: 6px;

    .product-image {
      .img {
        width: 450px;
        height: 650px;
        border-radius: 6px;
        border: solid 1px #e6e6e6;
      }

      .cargo-free {
        height: 35px;
        width: 60px;
        font-size: 12px;
        padding: 3px 0;
        border-radius: 3px;
        color: white;
        background-color: #535353;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        line-height: 1.1;
      }

      .left {
        color: white;
        font-size: 40px;
        margin-left: auto;
        top: 440px;
      }

      .right {
        color: white;
        font-size: 40px;
        margin-left: 9em;
        top: 440px;
      }
    }
    .galeri {
      width: 400px;
      height: 677px;
    }
    .product-slider {
      margin: 15px auto 0;
      justify-content: center;
    }
    .img2 {
      width: 150px;
      height: 30px;
      top: 750px;
      margin-left: 15px;
      position: absolute;
    }
  }
  .right-content {
    margin: 0 5px 0 25px;
    width: 584px;
    top: auto;
    h1 {
      font-size: 21px;
      line-height: 26px;
      font-family: 'source_sans_proregular', serif;
    }
    span {
      color: #333;
      font-size: 20px;
      line-height: 26px;
      font-family: 'source_sans_proregular', serif;
    }
    .separator {
      border-bottom: solid 1px #979797;
      border-right: solid 1px #979797;
      height: 30px;
      margin: -6px 5px -6px 8px;
    }
    .product-price {
      span {
        color: #979797;
        font-size: 17px;
        line-height: 20px;
        margin-right: 6px;
        font-weight: normal;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .spn {
        color: #f27a1a;
        align-items: center;
        margin-right: 6px;
        font-size: 22px;
        line-height: 26px;
        font-weight: 600;
      }
      .separator {
        border-bottom: solid 1px #979797;
        border-right: solid 1px #979797;
        height: 3.5rem;
        margin: -6px 8px -6px 4px;
      }
    }

    .slicing-atributes {
      h2 {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 0.86;
        color: #333;
      }
    }
    .size {
      .size-title {
        align-items: center;

        h2 {
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 16px;
          line-height: 0.86;
          color: #333;
        }
        span {
          font-weight: normal;
          color: #999;
        }
      }
      .variants {
        .sp-item {
          border-radius: 6px;
          border: solid 1px #999999;
          font-size: 13px;
          color: #333;
          padding: 5px 10px 4px;
          cursor: pointer;
          margin-right: 10px;
          margin-bottom: 2px;
          margin-top: 2.5px;
          &:hover {
            border: solid 2px #f27a1a;
            padding: 4px 9px 3px;
            color: #000;
          }
        }
      }
    }
    .product-button-container {
      height: 50px;
      margin: 10px 0 15px;

      .add-to-basket {
        width: 100%;
        height: 50px;
        border: 1px solid #f27a1a;
        border-radius: 6px;
        background: #f27a1a;
        font-size: 20px;
        color: #fff;
        &:hover {
          background-color: #ff8b39;
        }
      }
      .fv {
        min-width: 52px;
        height: 50px;
        margin: 0 0 0 15px;
        border-radius: 6px;
        border: 1px solid #e6e6e6;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          .icon {
            color: #f27a1a;
          }
        }

        .icon {
          width: 24px;
          height: 22px;
          color: #8c8c8c;
        }
      }
    }

    .delivery-favorite-info {
      span {
        font-size: 12px;
        color: #333;
        font-family: sans-serif;
      }
      .spn {
        color: #666;
        font-family: sans-serif;
      }
    }
    .border-bottom {
      border-bottom: solid 1px #e6e6e6;
    }
    .conten-desciriptions {
      ul {
        list-style-image: url(https://cdn.dsmcdn.com/web/production/ellipse.png);
        li {
          font-size: 13px;
        }
      }
      .opacity-layout {
        position: absolute;
        bottom: 34px;
        width: 100%;
        padding: 21px 0;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.9)
        );
      }
      button {
        position: relative;
        border: 1px solid #e6e6e6;
        background: #fff;
        color: #333;
        text-align: center;
        border-radius: 6px;
        display: inline-block;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
        width: 100%;
        letter-spacing: 0.05rem;
        &:hover {
          color: #f27a1a;
          border-color: #f27a1a;
        }
      }
    }
  }

  .product-widget-list {
    width: 300px;
    height: 783px;
    padding: 20px;
    border-radius: 6px;
    margin-left: 20px;
    .campaing {
      border-color: #f2e5da;
      background-color: #fffaf6;
      border-radius: 6px;
      border: 1px solid #e6e6e6;
      width: 100%;
      margin-bottom: 15px;
      h2 {
        padding: 13px 15px 12px;
        color: #333;
        border-bottom: 1px solid #f2e5da;
        padding: 13px 15px 12px;
        font-size: 13px;
        letter-spacing: 0.1em;
      }
      .widget-row {
        padding: 13px 15px 12px;
        border-bottom: 1px solid #f2e5da;
        padding: 13px 15px 12px;
        &:hover {
          a {
            color: #f27a1a;
          }
        }

        a {
          color: #333;
          font-size: 15px;
          margin-left: 5px;
        }
        .icon {
          color: #f27a1a;
          font-size: 18px;
          transform: rotate(260deg);
        }
        .arrow {
          color: #f27a1a;
          font-size: 18px;
          margin-left: auto;
          transform: rotate(180deg);
        }
      }
      .widget-bottom {
        padding: 13px 15px 12px;
        &:hover {
          a {
            color: #f27a1a;
          }
        }
        a {
          color: #333;
          font-size: 15px;
          margin-left: 5px;
        }
        .icon {
          color: #f27a1a;
          font-size: 18px;
          transform: rotate(260deg);
        }
        .arrow {
          color: #f27a1a;
          font-size: 18px;
          margin-left: auto;
          transform: rotate(180deg);
        }
      }
    }

    .seller {
      border-color: #f2e5da;
      background-color: #fffaf6;
      border-radius: 6px;
      border: 1px solid #e6e6e6;
      width: 100%;
      height: 180px;
      margin-bottom: 15px;
      .widget-title {
        padding: 13px 15px 12px;
        border-bottom: 1px solid #f2e5da;

        a {
          color: #4d8ee1;
          font-size: 17px;
          &:hover {
            text-decoration: underline;
          }
        }
        label {
          background-color: rgb(186, 200, 45);
          position: relative;
          top: 1px;
          width: 32px;
          display: inline-block;
          margin-left: 5px;
          border-radius: 3px;
          color: #fff;
          padding: 2px 5px;
          font-size: 15px;
        }
        .icone {
          color: #f27a1a;
          margin-left: 4px;
          position: relative;
          font-size: 21px;
          top: 1px;
        }
      }

      .widget-row {
        padding: 13px 15px 12px;
        border-bottom: 1px solid #f2e5da;
        &:hover {
          a {
            color: #f27a1a;
          }
        }

        a {
          color: #333;
          font-size: 16px;
          margin-left: 5px;
        }
        span {
          font-size: 14px;
          color: #999;
          display: block;
          margin-left: 5px;
        }
        .icon {
          color: #f27a1a;
          font-size: 23px;
          margin-right: 10px;
          margin-bottom: 15px;
        }
        .arrow {
          color: #f27a1a;
          font-size: 18px;
          margin-left: auto;
          transform: rotate(180deg);
        }
      }

      .widget-bottom {
        padding: 13px 15px 12px;
        &:hover {
          a {
            color: #f27a1a;
          }
        }

        a {
          color: #333;
          font-size: 16px;
          margin-left: 5px;
        }

        .icon {
          color: #f27a1a;
          font-size: 23px;
          margin-right: 10px;
        }
        .arrow {
          color: #f27a1a;
          font-size: 18px;
          margin-left: auto;
          transform: rotate(180deg);
        }
      }
    }

    .review {
      border-color: #f2e5da;
      background-color: #fffaf6;
      border-radius: 6px;
      border: 1px solid #e6e6e6;
      width: 100%;
      margin-bottom: 15px;
      h2 {
        padding: 13px 15px 12px;
        color: #333;
        border-bottom: 1px solid #f2e5da;
        font-size: 13px;
        letter-spacing: 0.1em;
      }
      .widget-row {
        padding: 13px 15px 12px;
        border-bottom: 1px solid #f2e5da;
        display: block;
        &:hover {
          a {
            color: #f27a1a;
          }
        }
        span {
          color: #999;
          font-size: 15px;
        }
        .span2 {
          color: #4d8ee1;
        }

        a {
          color: #333;
          font-size: 15px;
          margin-left: 5px;
        }
        .icon {
          color: #16be48;
          .icone {
            width: 23px;
            height: 23px;
          }
          span {
            color: #16be48;
            font-size: 15px;
            margin-left: 5px;
          }
        }
      }
      .widget-bottom {
        padding: 13px 15px 12px;
        text-align: center;
        &:hover {
          a {
            color: #f27a1a;
          }
        }
        a {
          color: #666;
          font-size: 15px;
        }
      }
    }
  }
}
